@import '~sass/variables';
@import '~sass/mixins';

.page {
  padding: 1em;
}

#tasks {
  @include list-no-style;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choose {
  @include center-content;
  color: $color-medium;
}
