<div *ngIf="list; else choose">
  <div class="page">

    <!-- Header -->
    <h2>{{ list.title }}</h2>
    <div class="header">
      <p>{{ list.completedCount }} completed</p>
      <div>
        <a href="#">Show</a>
      </div>
    </div>

    <!-- List of tasks -->
    <ul id="tasks">

      <!-- Pre-existing tasks -->
      <app-task-row *ngFor="let task of list.tasks" [task]="task" (deleted)="remove($event)"></app-task-row>

      <!-- New task -->
      <app-new-task-row [listId]="list.id" (created)="registerCreated($event)"></app-new-task-row>
    </ul>

    <div class="footer">
      <div class="delete-list" (click)="delete()">
        Delete list
      </div>
    </div>
  </div>
</div>
<ng-template #choose>
  <div class="choose">
    <p><strong>Let's get started!</strong></p>
    <p>Select a list in the sidebar or click "New list".</p>
  </div>
</ng-template>
