@import 'variables';

@mixin list-no-style() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin center-content($fill: true) {
  @if ($fill) {
    width: 100%;
    height: 100%;
  }
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin link() {
  cursor: pointer;
  &:hover {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -.2em;
      left: 0;
      width: 100%;
      border-top: 1px solid;
    }
  }
}
