$color-darkest: rgb(33, 37, 41);
$color-darker: rgb(68, 68, 68);
$color-medium: rgb(128, 128, 128);
$color-light: rgb(200, 200, 200);
$color-lighter: rgb(230, 230, 230);
$color-lightest: rgb(248, 248, 248);

$color-text: $color-darkest;
$color-primary: rgb(240, 173, 78);
$color-secondary: rgb(109, 156, 190);
$color-danger: rgb(218, 73, 57);
$color-success: rgb(165, 194, 97);
