@import '~sass/variables';

.popup {
  width: 100%;
  background: $color-secondary;
  color: white;
  border-radius: 4px;
  padding: 1em 1em;
  box-sizing: border-box;

  input {
    width: 100%;
    display: inline-block;
    &::placeholder {
      color: lighten($color-secondary, 20%);
    }
  }

  box-shadow: 0 10px 8px rgba(0, 0, 0, .1);
}
