@import '~sass/variables';
@import '~sass/mixins';
$padding-h: 1em;

.page {
  display: grid;
  height: 100vh;
  max-width: 50em;
  padding: 0;
  margin: 0 auto;
  grid-template-areas: "brand main" "sidebar main" ". main";
  grid-template-columns: 12em 1fr;
  grid-template-rows: auto auto 1fr;
}

h1 {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  grid-area: brand;
  @include link;
}

.add-list-wrapper {
  position: relative;
}

.add-list {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

#sidebar {
  grid-area: sidebar;
  position: relative;

  ul {
    @include list-no-style;

    li {
      cursor: pointer;
      padding: 0.7em $padding-h;
      border-top: 1px solid $color-lighter;

      &.active {
        background: $color-primary !important;
      }

      &:hover {
        background: $color-lightest;
      }
    }
  }
}

#task-list {
  grid-area: main;
  padding: 0;
  margin: 0;
}
