@import '~sass/variables';
@import '~sass/mixins';

.task {
  padding: 0.6em 0;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-column-gap: .5em;
  align-items: center;
  border-top: 1px solid $color-lighter;

  .task-body {
    height: 2em;
    display: grid;
    grid-template-areas:
      "priority title"
      "date date";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
  }

  .due-date {
    grid-area: date;
    font-size: small;
    color: $color-medium;
  }

  &.due .due-date {
    color: $color-primary;
  }

  &.completed {
    .completed-mark {
      background: $color-success;
    }
  }

  .priority {
    grid-area: priority;
    margin-right: .3em;
    color: $color-primary;
  }

  input.edit-task {
    grid-area: title;
    display: inline-block;
  }
}

.task-delete {
  display: none;
  color: $color-danger;
  cursor: pointer;
}

.task:hover {
  .task-delete {
    display: block;
  }
}

$dot-size: 1em;

.dot {
  display: block;
  position: relative;
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  margin-right: .5em;
  border: 1px solid $color-light;
  cursor: pointer;
}

.completed-mark {
  $s: $dot-size * .6;
  position: absolute;
  top: ($dot-size - $s)/2;
  left: ($dot-size - $s)/2;
  width: $s;
  height: $s;
  border-radius: 50%;
  z-index: 1;
}
