<form (ngSubmit)="onSubmit()" class="task" [ngClass]="{'due': task.due, 'completed': task.completed}">

  <!-- Completion dot widget -->
  <div class="dot" (click)="toggleComplete()">
    <div class="completed-mark"></div>
  </div>

  <!-- Main task info -->
  <div class="task-body">

    <!-- Priority: represented by a corresponding amount of "!" -->
    <span class="priority" *ngIf="task.priority > 0">
      <span *ngTimes="task.priority">!</span>
    </span>

    <!-- Editable task title -->
    <input class="edit-task" autocomplete="off" type="text" name="title" [(ngModel)]="task.title" (focus)="onFocus()" (focusout)="_onFocusOut()" [placeholder]="placeholder">

    <!-- Due date -->
    <div *ngIf="task.dueDate" class="due-date">
      {{ task.dueDate | amCalendar }}
    </div>

  </div>

  <!-- Show busy if the subscription is active -->
  <div class="task-state">
    <app-busy-state [busy]="sub" [state]="subState" [killAfter]="1200"></app-busy-state>
  </div>

  <div class="task-delete" *ngIf="deletable" (click)="delete()">
    <fa name="trash"></fa>
  </div>
</form>
